<!DOCTYPE html>
<html>
  <head>
    <title>LunchBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Patua+One&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
    

    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo_red.svg') %>";
      window.snackURL = "<%= image_url('burger.png') %>";
      window.menu = "<%= image_url('hamburger-red-menu.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
