<!DOCTYPE html>
<html>
  <head>
    <title>LunchBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo_red.svg') %>";
      window.snackURL = "<%= image_url('burger.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
