<!DOCTYPE html>
<html>
  <head>
    <title>LunchBud</title>
     <link rel="icon" 
     type="image/png" 
     href="<%= image_url('favicon.png')%>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta property="og:title" content="LunchBud" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://lunchbud.herokuapp.com/" />
    <meta property="og:image" content='<%= image_url asset_path('lunch_bud_sc.JPG') %>'/>
    <meta property="og:description" content="Let's Lunch!" />

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Patua+One&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Roboto:ital,wght@0,100;0,500;1,700&display=swap" rel="stylesheet">
    

   <script src="https://kit.fontawesome.com/582a679bcd.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo_red.svg') %>";
      window.snackURL = "<%= image_url('burger.png') %>";
      window.menu = "<%= image_url('hamburger-red-menu.png') %>";
      window.menuLogout = "<%= image_url('menu-logout.png') %>";
      window.footerLogo = "<%= image_url('logo_white.png')%>";
      window.favicon = "<%= image_url('favicon.png')%>"
      window.red_bag = "<%= image_url('red_bag_logo.png')%>"
      window.peas = "<%=image_url('peas.svg')%>"
      window.white_logo = "<%= image_url('white-logo.png')%>"
      window.try_new = "<%=image_url('try_new.JPG')%>"
      window.search = "<%=image_url('search.JPG')%>"
      window.dropdown = "<%=image_url('dropdown.JPG')%>"
    </script>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
